body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  background: #fff;
  width: 80%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.country-details {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.country-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.country-header img.country-flag {
  height: 250px;
  width: 90%;
  background-size: contain;
  object-fit: cover;
}

.country-header h2 {
  font-size: 28px;
  margin: 0;
}

.details-content {
  padding-top: 50px;
  margin-left: auto;
  text-align: left;
  flex-grow: 1;
  width: 50%;
}

.details-content p {
  margin: 5px 0;
  font-size: 16px;
}

/* .details-content p strong {
  font-weight: bold;
} */

.details-content a {
  color: #007bff;
  text-decoration: none;
}

.details-content a:hover {
  text-decoration: underline;
}
.neighbour-countries {
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 80%;
}

.flags-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.neighbour-flag {
  /* display: flex; */
  width: 250px;
  height: 200px;
}

.flag-image {
  width: 100%;
  height: auto;
}
