body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.country-details {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.country-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.country-header img.country-flag {
  max-width: 500px;
  max-height: 600px;
  object-fit: cover;
}

.country-header h2 {
  font-size: 28px;
  margin: 0;
}

.details-content {
  padding-top: 50px;
  margin-left: 20px;
  text-align: left;
  flex-grow: 1;
  width: 50%;
}

.details-content p {
  margin: 5px 0;
  font-size: 16px;
}

/* .details-content p strong {
  font-weight: bold;
} */

.details-content a {
  color: #007bff;
  text-decoration: none;
}

.details-content a:hover {
  text-decoration: underline;
}

.neighbour-countries {
  margin-top: 20px;
}

.flags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.neighbour-flag {
  display: inline-block;
  width: 50px;
  height: 30px;
}

.flag-image {
  width: 100%;
  height: auto;
}
