/* Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}

main {
  width: 100%; /* Ensure the main section takes up the full width */
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.container {
  width: 50%; /* 60% of the screen width */
  height: 100vh; /* Full height of the viewport */
  background-color: #fff; /* White background for the container */
  display: flex;
  flex-direction: column;
}

.common-box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box-shadow */
}

/* Search container to align elements */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Input field styling */
.search-input {
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  flex: 1;
}

/* Button styling with magnifying glass */
.search-btn {
  background-color: white;
  border: none;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  transition: background-color 0.3s;
}
.search-btn img {
  background-color: white;
  color: gray;
  height: 35px;
  width: 35px;
}

.search-btn:hover {
  background-color: white;
}

#cards-container {
  margin-top: 16px;
}
#search-container {
  margin-bottom: 1px;
}
/* Card container styling */
.card {
  display: flex;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Image styling */
.card-image {
  width: 250px;
  /* height: 150px; */
  object-fit: cover;
}

/* Card content area styling */
.card-content {
  /* padding: 16px; */
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
}

/* Heading styling */
.card-heading {
  font-size: 20px;
  margin-bottom: 8px;
}

/* Currency and date-time styling */
.card-currency,
.card-datetime {
  font-size: 14px;
  margin-bottom: 8px;
}

/* Button styling */
.card-buttons {
  display: flex;
  gap: 8px;
  margin-top: 40px;
}

.card-button {
  padding: 8px 16px;
  border: 2px solid blue;
  background-color: white;
  color: blue;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #0056b3;
  color: white;
}
